*{
    max-width: 100vw;
}


.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    font-size: 15px;
    font-style: normal;
    /* line-height: 32px; */
    font-weight: 300;
    background-color:rgb(255, 253, 253);
    margin:10px 35px;
}
.card-title{
    display: flex;
   border: 0.5px solid grey;
   width: 93vw;
   margin: 10px 35px;
    /* background-color: black; */
}
.card6{

    display: flex;
    margin: 10px 35px;
    padding-left: 0;
    margin-left: 40px;
    float: left;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    flex-wrap: wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: rgb(255, 253, 253);
    width:93vw;
    height: 38px;

    font-size: 22px;
    line-height: 32px;
   
    font-weight: 500;
    

}
.view-all{
    background-color:#2874F0;
    border-color: #2874F0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 0px 5px;
}
.text1{
    text-align: center;
}
.card1,.card2,.card3,.card4,.card5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 40vh;
    flex-wrap: wrap;
    background-color:rgb(255, 253, 253);
}

.card1:hover{
    /* background-color: black; */
    image-resolution: 160 * 160;
    cursor:pointer;
 size: 50px;
}

.card2:hover{
    /* background-color: black; */
    image-resolution: 160 * 160;
    cursor:pointer;
 size: 50px;
}

.card3:hover{
    /* background-color: black; */
    image-resolution: 160 * 160;
    cursor:pointer;
 size: 50px;
}

.card4:hover{
    /* background-color: black; */
    image-resolution: 160 * 160;
    cursor:pointer;
 size: 50px;
}


.text-green{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    color: green;
}

.card5:hover{
    /* background-color: black; */
    image-resolution: 160 * 160;
    cursor:pointer;
 size: 50px;
}

.card1 img:hover{
  width:170px;
  height: 170px;
}
.card2 img:hover{
  width:170px;
  height: 170px;
}
.card3 img:hover{
  width:170px;
  height: 170px;
}
.card4 img:hover{
  width:170px;
  height: 170px;
}
.card img:hover{
  width:170px;
  height: 170px;
}

.text-opacity{
    opacity: 0.5;
}

.card-poster{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;

}
.card-poster1{
    /* background-color: blue; */
    border-radius: 10px;
}
.card-poster2{
    /* background-color: blue; */
    border-radius: 30px;
}
.poster-images{
    display: flex;
    justify-content: center;
    width: 100vw ;
}
.img-centre{
    display: flex;
    justify-content: center;
    margin:50px 0;
}